.not-found{
  position:fixed;
  width: 100vw;
  top:0;
  height:100vh;
  background-color:white;
  display: flex;
  justify-content: center; 
  align-items: center;  
}

body{
  background-color: #ffcc00;
}
.div1{
  width:375px;
  margin:auto;
  margin: 10 0 0 450px;
  overflow: 75px;
  padding: 75px;
  background: #003300;
}
h2{
  text-align:center;
  padding:10px;
  color:#003300;

}
label{
  color: white;
  padding-left:10px;
}
.inputText{
  width:200px;
  height:30px;
  border:none;
  border-radius:2px;
  padding-left:8px;

}
#logButton{
  width:300px;
  height:30px;
  border:none;
  border-radius:10px;
  padding-left:7px;
  color:black;
  font-size: 16px;

}
